@import "prism-theme-vars/base.css";

html.dark {
  background: #121212;
}

html {
  height: 100%;
}

body {
  background: transparent;
  height: 100%;
}

.face {
  background: #666666;
  /* clear: both; */
  text-align: center;
}

.particles-js-canvas-el {
  position: absolute;
}

.intro {
  /* background-color: #0798ec; */
  background-color: black;
  color: white;
}

.ui.header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 45px;
  color: white;
}

.ui.vertical.stripe.intro.segment {
  background: #f5f7fa;
}

.row {
  padding-top: 120px;
  padding-bottom: 50px;
}

.following.bar>.menu .item {
  transition: all 0.5s ease;
}

.following.bar {
  position: fixed;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 0.7em 0em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  /* border-bottom: 1px solid transparent; */
  transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease,
    border 0.5s ease;
  /* height: 90px; */
  transition: all 0.5s ease;
  /* background-color: #666666 */
}

.light.fixed {
  background-color: #666666;
}

.ui.dropdown .menu>.item {
  min-height: unset !important;
}

.ui.labeled.icon.button>.icon,
.ui.labeled.icon.buttons>.button>.icon {
  height: unset !important;
}

.markdown-body {
  line-height: 1.6;
  font-size: 16px;
}

.markdown-body h1 {
  @apply text-7xl font-bold leading-28 relative;
}


.markdown-body h2 {
  @apply text-4xl font-bold leading-16 relative ;
}

.markdown-body h3 {
  @apply text-3xl font-bold leading-16 relative hover:(text-green-300) transition-all;
}

.markdown-body ul {
  @apply mt-2 list-disc list-inside;
}

.markdown-body a {
  @apply hover:(underline) transition-all;
}

.markdown-body li {}


.markdown-body p {
  @apply leading-9;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}
::-webkit-scrollbar-thumb {
  background: #fff;
}

.markdown-body h1 a::before,
.markdown-body h2 a::before,
.markdown-body h3 a::before {
  content: '#';
  position: absolute;
  left: -2rem;
  @apply text-right transition-all duration-400 text-transparent;
}

.markdown-body a {
  @apply text-amber-500;
}

.markdown-body h1 a,
.markdown-body h2 a,
.markdown-body h3 a {
  @apply text-white;
}

.markdown-body a:hover {
  color: currentColor;
}

.markdown-body a:hover::before {
  @apply text-amber-500;
}

.markdown-body code {
  @apply rounded text-amber-500 bg-[#333437] p-1.5 mx-1;
}

.ui.button {
  @apply transition-all duration-300;
}